<!DOCTYPE html>
<html>
<head>
	<!-- <link rel='stylesheet' href='./bootstrap/css/bootstrap.css'> -->
	<link rel='stylesheet' href='./style.css'>
	<title> Into to HTML/CSS </title>
</head>
<body>
	<div class="container">
	
	<h1> Live Soccer Scores Update Centre </h1>
	<h3> Today's soccer matches around the world </h3>

		#<% for i in 0..@scores.length-1%>
			<div class="example1">
  				<p>
  					<%= @home_t[i] %>
			 		<%= @away_t[i] %>
			 		<%= @home_t_s[i] %>
			 		<%= @away_t_s[i] %>
  				</p>
			</div>
		<% end %>

	<form class='well form-search'>
		<input type='text' class='input-medium search-query'>
		<button type='submit' class='btn' name='user_input'> search </button>
	</form>
	</div>
</body>

</html>